@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
    font-family: 'Inter', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Custom scrollbar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: theme('colors.background.dark');
}

::-webkit-scrollbar-thumb {
    background: theme('colors.primary');
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: theme('colors.primary');
}

/* Add smooth scrolling to the whole page */
html {
    scroll-behavior: smooth;
}